<!DOCTYPE html>
<html>
    <head>

<title>Django flatpages - {% block title %} {% endblock title %}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <h2>Django flatpages app</h2>
    {% block content %}
    {% endblock content %}
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>